In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/vika/Desktop/horse_data_1.csv', na_values='?', sep=';')

df.head()

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [3]:
df.describe()

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [4]:
print(max(df['Age']))
print(min(df['Age']))

print(df.Age.mean())
print(df.Age.median())
print(df.Age.mode()[0])

print(df.Age.std())
print(df.Age.var())

9
1
1.64
1.0
1
2.1739719055576163
4.726153846153814

In [5]:
print(max(df['Rectaltemperature']))
print(min(df['Rectaltemperature']))

print(df.Rectaltemperature.mean())
print(df.Rectaltemperature.median())
print(df.Rectaltemperature.mode()[0])

print(df.Rectaltemperature.std())
print(df.Rectaltemperature.var())

40.8
35.4
38.16791666666669
38.2
38.0
0.7322886641121578
0.5362466875871686

In [6]:
print(max(df['Pulse']))
print(min(df['Pulse']))

print(df.Pulse.mean())
print(df.Pulse.median())
print(df.Pulse.mode()[0])

print(df.Pulse.std())
print(df.Pulse.var())

184.0
30.0
71.91304347826087
64.0
48.0
28.630556660735003
819.7087747035575

In [7]:
print(max(df['Respiratoryrate']))
print(min(df['Respiratoryrate']))

print(df.Respiratoryrate.mean())
print(df.Respiratoryrate.median())
print(df.Respiratoryrate.mode()[0])

print(df.Respiratoryrate.std())
print(df.Respiratoryrate.var())

96.0
8.0
30.417355371900825
24.5
20.0
17.642231385134664
311.24832824663054

In [8]:
print(max(df['Temperatureofextremities']))
print(min(df['Temperatureofextremities']))

print(df.Temperatureofextremities.mean())
print(df.Temperatureofextremities.median())
print(df.Temperatureofextremities.mode()[0])

print(df.Temperatureofextremities.std())
print(df.Temperatureofextremities.var())

4.0
1.0
2.348360655737705
3.0
3.0
1.0450536920112758
1.0921372191863987

In [9]:
print(max(df['Pain']))
print(min(df['Pain']))

print(df.Pain.mean())
print(df.Pain.median())
print(df.Pain.mode()[0])

print(df.Pain.std())
print(df.Pain.var())

5.0
1.0
2.951020408163265
3.0
3.0
1.3079395711243502
1.710705921712949

In [10]:
print(max(df['outcome']))
print(min(df['outcome']))

print(df.outcome.mean())
print(df.outcome.median())
print(df.outcome.mode()[0])

print(df.outcome.std())
print(df.outcome.var())

3.0
1.0
1.5518394648829432
1.0
1.0
0.7371869448054933
0.5434445915916574

In [11]:
print(max(df['Surgery']))
print(min(df['Surgery']))

print(df.Surgery.mean())
print(df.Surgery.median())
print(df.Surgery.mode()[0])

print(df.Surgery.std())
print(df.Surgery.var())

2.0
1.0
1.3979933110367893
1.0
1.0
0.49030464432881815
0.24039864425040888

In [12]:
# смотрим пропуски
(df.isna().mean() * 100).round(2)

Surgery                      0.33
Age                          0.00
Rectaltemperature           20.00
Pulse                        8.00
Respiratoryrate             19.33
Temperatureofextremities    18.67
Pain                        18.33
outcome                      0.33
dtype: float64

In [ ]:
# выбросы

In [13]:
q1 = df['Age'].quantile(0.25)
q3 = df['Age'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['Age'].between(lower_bound, upper_bound, inclusive=True)].sort_values('Age')
remove_outliers

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
189,1.0,1,38.3,60.0,16.0,3.0,2.0,1.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
192,1.0,1,38.2,48.0,18.0,1.0,3.0,1.0
193,1.0,1,NaN,60.0,48.0,3.0,4.0,2.0
...,...,...,...,...,...,...,...,...
100,1.0,1,38.2,40.0,16.0,3.0,1.0,1.0
99,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
98,2.0,1,37.7,44.0,40.0,2.0,1.0,1.0
105,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [14]:
# что это за выброс?
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
191,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
212,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0

In [15]:
q1 = df['Rectaltemperature'].quantile(0.25)
q3 = df['Rectaltemperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['Rectaltemperature'].between(lower_bound, upper_bound, inclusive=True)].sort_values('Rectaltemperature')
remove_outliers

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
277,2.0,1,36.9,50.0,40.0,2.0,1.0,1.0
70,2.0,1,37.0,60.0,20.0,3.0,3.0,3.0
292,1.0,1,37.0,66.0,20.0,1.0,4.0,2.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
...,...,...,...,...,...,...,...,...
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
231,2.0,1,39.5,92.0,28.0,3.0,5.0,2.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
162,2.0,1,39.5,60.0,10.0,3.0,3.0,1.0

In [16]:
# что это за выброс?
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [17]:
q1 = df['Pulse'].quantile(0.25)
q3 = df['Pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['Pulse'].between(lower_bound, upper_bound, inclusive=True)].sort_values('Pulse')
remove_outliers

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
203,2.0,1,37.2,36.0,9.0,1.0,2.0,1.0
276,1.0,1,38.0,36.0,16.0,3.0,4.0,3.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
...,...,...,...,...,...,...,...,...
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0

In [18]:
# что это за выброс?
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

In [19]:
q1 = df['Respiratoryrate'].quantile(0.25)
q3 = df['Respiratoryrate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['Respiratoryrate'].between(lower_bound, upper_bound, inclusive=True)].sort_values('Respiratoryrate')
remove_outliers

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
203,2.0,1,37.2,36.0,9.0,1.0,2.0,1.0
140,1.0,1,38.1,44.0,9.0,3.0,2.0,1.0
89,2.0,1,38.3,42.0,10.0,1.0,1.0,1.0
162,2.0,1,39.5,60.0,10.0,3.0,3.0,1.0
...,...,...,...,...,...,...,...,...
220,1.0,1,39.2,88.0,58.0,4.0,5.0,3.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
185,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
248,1.0,1,38.0,108.0,60.0,2.0,4.0,1.0

In [20]:
# что это за выброс?
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
29,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...
271,1.0,1,37.7,80.0,NaN,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
284,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [21]:
q1 = df['Temperatureofextremities'].quantile(0.25)
q3 = df['Temperatureofextremities'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['Temperatureofextremities'].between(lower_bound, upper_bound, inclusive=True)].sort_values('Temperatureofextremities')
remove_outliers

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
89,2.0,1,38.3,42.0,10.0,1.0,1.0,1.0
71,1.0,1,37.8,48.0,28.0,1.0,1.0,1.0
215,1.0,1,37.8,40.0,12.0,1.0,1.0,1.0
69,2.0,1,38.0,48.0,12.0,1.0,1.0,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
...,...,...,...,...,...,...,...,...
108,1.0,1,38.7,60.0,32.0,4.0,4.0,3.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
240,1.0,1,38.0,90.0,30.0,4.0,5.0,2.0

In [22]:
# что это за выброс?
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
37,1.0,1,37.8,72.0,NaN,NaN,5.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
81,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
90,2.0,1,38.0,52.0,16.0,NaN,2.0,1.0
95,1.0,1,37.3,48.0,20.0,NaN,3.0,1.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
121,1.0,1,38.3,80.0,40.0,NaN,4.0,3.0
128,1.0,1,37.4,84.0,20.0,NaN,2.0,3.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
149,2.0,1,38.7,48.0,24.0,NaN,1.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
161,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
181,2.0,1,37.8,48.0,14.0,NaN,3.0,1.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
202,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
210,1.0,1,37.9,68.0,20.0,NaN,2.0,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
217,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
239,1.0,1,38.1,70.0,22.0,NaN,5.0,3.0
260,2.0,1,38.0,40.0,25.0,NaN,4.0,1.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
263,1.0,1,37.1,75.0,36.0,NaN,4.0,2.0
268,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
280,1.0,1,38.6,48.0,12.0,NaN,1.0,1.0
283,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0
289,1.0,1,38.0,50.0,36.0,NaN,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [23]:
q1 = df['Pain'].quantile(0.25)
q3 = df['Pain'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['Pain'].between(lower_bound, upper_bound, inclusive=True)].sort_values('Pain')
remove_outliers

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
215,1.0,1,37.8,40.0,12.0,1.0,1.0,1.0
50,2.0,1,38.6,46.0,NaN,1.0,1.0,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
241,1.0,1,38.2,52.0,16.0,1.0,1.0,1.0
61,2.0,1,38.5,60.0,NaN,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...
247,1.0,1,38.1,88.0,24.0,3.0,5.0,2.0
46,1.0,1,37.9,60.0,15.0,3.0,5.0,1.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
83,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0

In [24]:
# что это за выброс?
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
19,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
24,1.0,1,38.1,60.0,12.0,3.0,NaN,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
27,1.0,1,37.8,48.0,12.0,3.0,NaN,1.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
157,1.0,1,37.8,60.0,24.0,1.0,NaN,3.0
161,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
170,2.0,1,37.5,44.0,20.0,1.0,NaN,1.0
185,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
188,1.0,1,38.5,60.0,NaN,1.0,NaN,1.0
195,2.0,1,38.0,44.0,12.0,3.0,NaN,1.0
202,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
213,1.0,1,37.6,45.0,12.0,3.0,NaN,1.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
217,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
243,1.0,1,38.4,92.0,20.0,1.0,NaN,1.0
257,1.0,1,38.7,96.0,28.0,3.0,NaN,2.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
268,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
283,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [25]:
q1 = df['outcome'].quantile(0.25)
q3 = df['outcome'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['outcome'].between(lower_bound, upper_bound, inclusive=True)].sort_values('outcome')
remove_outliers

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
150,2.0,1,38.9,44.0,14.0,3.0,2.0,1.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
127,1.0,1,37.4,50.0,32.0,3.0,4.0,1.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
234,2.0,1,37.5,48.0,30.0,4.0,NaN,1.0
...,...,...,...,...,...,...,...,...
124,2.0,1,37.6,48.0,20.0,3.0,1.0,3.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
54,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
256,1.0,1,37.5,72.0,NaN,2.0,2.0,3.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [26]:
# что это за выброс?
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [27]:
q1 = df['Surgery'].quantile(0.25)
q3 = df['Surgery'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['Surgery'].between(lower_bound, upper_bound, inclusive=True)].sort_values('Surgery')
remove_outliers

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0
128,1.0,1,37.4,84.0,20.0,NaN,2.0,3.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
...,...,...,...,...,...,...,...,...
147,2.0,1,38.0,44.0,12.0,2.0,3.0,2.0
149,2.0,1,38.7,48.0,24.0,NaN,1.0,1.0
153,2.0,1,38.6,48.0,20.0,3.0,1.0,1.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
150,2.0,1,38.9,44.0,14.0,3.0,2.0,1.0

In [28]:
# что это за выброс?
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [29]:
print(max(df['Pulse']))
print(min(df['Pulse']))

print(df.Pulse.mean())
print(df.Pulse.median())
print(df.Pulse.mode()[0])

print(df.Pulse.std())
print(df.Pulse.var())

184.0
30.0
71.91304347826087
64.0
48.0
28.630556660735003
819.7087747035575

In [30]:
# есть предположение, что данные Rectaltemperature, Pulse, Respiratoryrate отличаются в завимости от возраста лошади поэтому заполним пропуски медианой относительно этой переменной 
print(df.groupby(['Age'])['Rectaltemperature'].median())
fill_median_by_groups = pd.read_csv('/Users/vika/Desktop/horse_data_1.csv', na_values='?', sep=';')
fill_median_by_groups['Rectaltemperature'].fillna(df.groupby(['Age'])['Rectaltemperature'].transform('median'), inplace=True)

Age
1    38.1
9    38.6
Name: Rectaltemperature, dtype: float64

In [31]:
print(df.groupby(['Age'])['Pulse'].median())
fill_median_by_groups = pd.read_csv('/Users/vika/Desktop/horse_data_1.csv', na_values='?', sep=';')
fill_median_by_groups['Pulse'].fillna(df.groupby(['Age'])['Pulse'].transform('median'), inplace=True)

Age
1     60.0
9    124.0
Name: Pulse, dtype: float64

In [32]:
print(df.groupby(['Age'])['Respiratoryrate'].median())
fill_median_by_groups = pd.read_csv('/Users/vika/Desktop/horse_data_1.csv', na_values='?', sep=';')
fill_median_by_groups['Respiratoryrate'].fillna(df.groupby(['Age'])['Respiratoryrate'].transform('median'), inplace=True)

Age
1    24.0
9    49.0
Name: Respiratoryrate, dtype: float64

In [33]:
# остальное заменяем модой
df['Surgery'].value_counts()

1.0    180
2.0    119
Name: Surgery, dtype: int64

In [36]:
df_fill_mode = pd.read_csv('/Users/vika/Desktop/horse_data_1.csv', na_values='?', sep=';')
df_fill_mode['Surgery'].fillna(df['Surgery'].mode()[0], inplace=True)

df_fill_mode['Surgery'].value_counts()

1.0    181
2.0    119
Name: Surgery, dtype: int64

In [37]:
df_fill_mode = pd.read_csv('/Users/vika/Desktop/horse_data_1.csv', na_values='?', sep=';')
df_fill_mode['Temperatureofextremities'].fillna(df['Temperatureofextremities'].mode()[0], inplace=True)

df_fill_mode['Temperatureofextremities'].value_counts()

3.0    165
1.0     78
2.0     30
4.0     27
Name: Temperatureofextremities, dtype: int64

In [38]:
df_fill_mode = pd.read_csv('/Users/vika/Desktop/horse_data_1.csv', na_values='?', sep=';')
df_fill_mode['Pain'].fillna(df['Pain'].mode()[0], inplace=True)

df_fill_mode['Pain'].value_counts()

3.0    122
2.0     59
5.0     42
4.0     39
1.0     38
Name: Pain, dtype: int64

In [39]:
df_fill_mode = pd.read_csv('/Users/vika/Desktop/horse_data_1.csv', na_values='?', sep=';')
df_fill_mode['outcome'].fillna(df['outcome'].mode()[0], inplace=True)

df_fill_mode['outcome'].value_counts()

1.0    179
2.0     77
3.0     44
Name: outcome, dtype: int64

In [40]:
# не понимаю как вывести датафрейм с заполненными пропусками
df.head()

,Surgery,Age,Rectaltemperature,Pulse,Respiratoryrate,Temperatureofextremities,Pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0